.container-content
    .dermatology-about 
        .dermatology-about__hero 
            .hero__img-wrap 
                img(src="/img/services/derm-hero.png", alt="hero")
            .hero__buttons 
                a.button.button--green(href="#") Записаться на прием
                a.button.button--contured(href="#") Посмотреть цены
        .dermatology-about__wrap 
            .dermatology-about__paragraph
                p.dermatology-about__intro Одна из самых важных областей ветеринарии, так как большинство домашних животных подвержены целому спектру кожных заболеваний
                p.dermatology-about__primary-text Дерматология занимается вопросами здоровья кожи, когтей, шерсти, аллергических реакций, паразитарных поражений и т.п. Состояние кожи, шерсти и когтей является важным индикатором здоровья для животных, и потому пренебрегать визитами к дерматологу не стоит.   
            .dermatology-about__paragraph
                .dermatology-about__title 
                    h3 Причины кожных заболеваний у животных
                p.dermatology-about__primary-text Ветеринарная дерматология кошек, собак, грызунов и других домашних питомцев, позволяет диагностировать и лечить различные кожные заболевания. К болезням кожи у животных  и, как следствие,  к появлению неприятных симптомов  приводят несколько причин:
                ul  
                    li.dermatology-about__primary-text.dermatology-about__list — наследственная предрасположенность;
                    li.dermatology-about__primary-text.dermatology-about__list — аллергические реакции — бытовая химия, корм, лекарства;
                    li.dermatology-about__primary-text.dermatology-about__list — паразиты — блохи, вши, клещи;
                    li.dermatology-about__primary-text.dermatology-about__list — поражение бактериями или грибками — лишай;
                    li.dermatology-about__primary-text.dermatology-about__list — нарушение обмена веществ или внутренних процессов в организме.
                p.dermatology-about__primary-text Кожные заболевания могут быть связаны с множеством различных факторов, поэтому для каждого из них существует свой метод лечения. Грамотно подобрать его с учетом результатов анализов, диагностики и профессионального осмотра, сможет только квалифицированный дерматолог.
            .dermatology-about__paragraph
                .dermatology-about__title 
                    h3 Признаки кожных заболеваний
                p.dermatology-about__primary-text Дерматология собак, кошек и других домашних питомцев выделяет различные проявления проблем с кожей, которые зачастую можно заметить при визуальном осмотре своего питомца. Самые распространенные симптомы, на которые обязательно обратить внимание:
                ul  
                    li.dermatology-about__primary-text.dermatology-about__list — зуд и расчесывание;
                    li.dermatology-about__primary-text.dermatology-about__list — облысение отдельных участков тела;
                    li.dermatology-about__primary-text.dermatology-about__list — покраснения, высыпания, изменение цвета кожи;
                    li.dermatology-about__primary-text.dermatology-about__list — появления неприятного запаха;
                    li.dermatology-about__primary-text.dermatology-about__list — беспокойство, апатия, повышение температуры тела.
                p.dermatology-about__primary-text При выявлении этих симптомов не стоит откладывать обращение к специалисту, поскольку процесс протекания заболевания может стать более тяжелым. Кроме того, некоторые виды заболеваний опасны для людей, поэтому необходимо своевременно исключить риск заражения.
            .dermatology-about__paragraph
                .dermatology-about__title 
                    h3 Диагностика дерматологических болезней
                p.dermatology-about__primary-text Перед выбором препаратов и назначением лечения ветеринар-дерматолог в Москве проведет внешний осмотр, забор необходимых анализов и определит необходимость диагностики с помощью специального оборудования. 
                p.dermatology-about__primary-text В нашей клинике доступен широкий спектр обследований и анализов, результаты которых мы получаем из собственной лаборатории. Сюда входит исследование крови, мазки, соскобы, посевы, проверка пораженных участков на цитолоцию.
        .dermatology-about__price-card 
            .dermatology-about__price-block
                include ../../partials/mixins/ui/cards/_price-card.pug
                +price-card(priceCardData.services)
                .dermatology-about__phone 
                    a(href="tel:+000000000") Если вы что-то не нашли или хотите уточнить конечную стоимость услуги, смело звоните нам.
