@use 'sass:map';
@use '../../../mixins/respond-to.scss' as *;
@use '../../../base/vars' as *;

.form {
    label {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: map.get($colors, text2);
        margin-bottom: 6px;

        @include respond-to(mobile) {
            font-size: 12px;
        }
    }

    span {
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        color: map.get($colors, text2);

        @include respond-to(mobile) {
            font-size: 12px;
        }
    }

    &__select {
        select {
            width: 100%;
            padding: 8px 0 12px 16px;
            font-weight: 400;
            font-size: 17px;
            line-height: 165%;
            border: 1px solid map.get($colors, borders);
            color: map.get($colors, text1);
            border-radius: 4px;

            option {
                font-size: 3px;
            }
        }
    }

    &__textarea {
        width: 100%;

        textarea {
            border: 1px solid map.get($colors, borders);
            border-radius: 4px;
            padding: 8px 0 12px 16px;
            width: 100%;
            height: 140px;
            resize: none;

            @include respond-to(mobile) {
                height: 90px;
            }
        }
    }

    &__text {
        input {
            border: 1px solid map.get($colors, borders);
            border-radius: 4px;
            height: 40px;
            padding: 8px 0 12px 16px;

            @include respond-to(mobile) {
                height: 30px;
                padding: 2px 10px;
                font-size: 14px;
            }

        }

        span {
            display: block;
        }
    }

    &__submit {

        @include respond-to(mobile) {
            width: 100%;
        }

        &-button {
            @include respond-to(mobile) {
                padding: 10px 12px;
                width: 100%;
            }
        }
    }
}