@use 'sass:map';
@use '../../base/vars' as *;
@use '../../mixins/respond-to.scss' as *;

.price-search {
    padding: 45px 56px;
    box-shadow: inset 0 0 10px 0 rgba(49, 53, 54, 0.05);
    background: linear-gradient(90deg, #e8fafa 0%, #dcf2e8 100%);
    border-radius: 8px;
    margin-bottom: 48px;

    @include respond-to(tablet) {
        padding: 0;
        border-radius: 18px;
        background: none;
    }

    &__form {
        display: flex;
        border: 2px solid map.get($colors, primary);
        border-radius: 16px;

        @include respond-to(tablet) {
            flex-direction: column;
            gap: 30px;
            border: none;
        }

        .button {
            border-radius: 0 15px 15px 0;

            @include respond-to(tablet) {
                border-radius: 15px;
            }
        }
    }

    &__input {
        width: 100%;
        background: map.get($colors, white1);
        border-radius: 18px 0 0 18px;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: map.get($colors, text1);
        padding-left: 20px;

        @include respond-to(tablet) {
            border: 2px solid map.get($colors, primary);
            padding: 12px;
            border-radius: 18px;
        }
    }
}