@use 'sass:map';
@use '../../base/vars' as *;

.price-tabs {
    &__wrap {
        display: flex;
        flex-wrap: wrap;
        column-gap: 16px;
        row-gap: 8px;
        margin-bottom: 40px;
    }

    &__desc {
        max-width: 100%;
        width: 824px;
        margin-top: -12px;
        margin-bottom: 36px;

        p {
            font-weight: 400;
            font-size: 26px;
            line-height: 138%;
            color: map.get($colors, text1);
        }
    }
}