@use 'sass:map';
@use '../../base/vars' as *;
@use '../../mixins/respond-to.scss' as *;

.reviews {
    padding-top: 64px;
    padding-bottom: 130px;
    background: map.get($colors, bg2);


    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        gap: 60px;
        flex-wrap: wrap;

        span {
            font-weight: 400;
            font-size: 26px;
            line-height: 138%;
            color: map.get($colors, text1)
        }
    }

    &__reviews {
        display: flex;
        flex-wrap: wrap;
        // min-width: 344px;
        gap: 40px;
    }

    .review {
        width: 100%;
        max-width: 344px;
        padding: 27px 32px 41px;
        box-shadow: 0 4px 20px 0 rgba(26, 57, 63, 0.1);
        background: map.get($colors, white1);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 8px;

        @media(max-width: 1540px) {
            max-width: 100%;
        }

        &:first-child {
            width: 100%;
            max-width: 728px;
        }

        &:last-child {
            width: 100%;
            max-width: 728px;
        }

        &:first-child,
        &:last-child {
            @media(max-width: 1540px) {
                max-width: unset;
                width: 100%;
            }
        }

        &__content {
            margin-bottom: 16px;
        }

        &__name {
            margin-bottom: 16px;
        }

        &__inner {
            font-weight: 400;
            font-size: 17px;
            line-height: 165%;
            color: map.get($colors, text1);

            p {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 5;

                overflow: hidden;
                min-width: 0;
            }
        }

        &__meta {
            display: flex;
            justify-content: space-between;
            row-gap: 10px;
            flex-wrap: wrap;
        }

        &__date {
            font-weight: 400;
            font-size: 14px;
            line-height: 171%;
            color: map.get($colors, text3);
        }

        &__expand-btn {
            display: flex;
            align-items: center;
            font-weight: 700;
            font-size: 14px;
            line-height: 171%;
            text-align: right;
            color: map.get($colors, primary);

            .icon {
                height: 8px;
                width: 20px;
                margin-left: 10px;
            }
        }
    }
}