.modal-slider  
    .modal-slider-header
        .modal-slider-title 
                h5 Ветеринарный центр
        .modal-slider-location 
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.99967 0C4.80452 0 2.20508 2.59944 2.20508 5.79456C2.20508 9.75981 7.39067 15.581 7.61145 15.8269C7.81883 16.0579 8.18089 16.0575 8.38789 15.8269C8.60867 15.581 13.7943 9.75981 13.7943 5.79456C13.7942 2.59944 11.1948 0 7.99967 0ZM7.99967 8.70997C6.39211 8.70997 5.0843 7.40213 5.0843 5.79456C5.0843 4.187 6.39214 2.87919 7.99967 2.87919C9.6072 2.87919 10.915 4.18703 10.915 5.79459C10.915 7.40216 9.6072 8.70997 7.99967 8.70997Z" fill="white" />
            </svg>
            span Приморский
    .modal-slider-wrap
        .clinic-slider
            .slider-wrap
                .slider-main-wrap
                    button.custom.custom-prev(type="button")
                        span.icon-arrow-left
                            <svg width="17" height="28" viewBox="0 0 17 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.8094 26.6708C16.551 26 16.5509 25.9999 16.5508 25.9998L16.5504 25.9994L16.5491 25.9979L16.5441 25.9925L16.5253 25.9717L16.4523 25.8916C16.3884 25.8215 16.2944 25.7188 16.1729 25.587C15.93 25.3234 15.5775 24.9434 15.1372 24.4761C14.2568 23.5418 13.0241 22.257 11.6147 20.8548C9.1856 18.4381 6.1851 15.6255 3.54606 13.6708C6.1851 11.7162 9.18559 8.90357 11.6147 6.48689C13.0241 5.08464 14.2568 3.79984 15.1372 2.86556C15.1647 2.83636 15.1919 2.80749 15.2187 2.77898C15.6211 2.35123 15.9452 2.00181 16.1729 1.75468C16.2944 1.62287 16.3884 1.52013 16.4523 1.45009L16.5253 1.37001L16.5441 1.34921L16.5491 1.34377L16.5491 1.34377L16.5504 1.3423L16.5508 1.34189C16.5509 1.34177 16.551 1.34169 15.8094 0.670834L15.0678 -9.40709e-06L15.0676 0.000211845L15.0666 0.00128759L15.0624 0.00594724L15.0449 0.0251581L14.975 0.101952C14.9131 0.16975 14.8212 0.270134 14.7021 0.399483C14.4786 0.642027 14.1593 0.986321 13.7621 1.4085C13.7356 1.43664 13.7087 1.46513 13.6816 1.49396C12.812 2.41683 11.5946 3.6856 10.2041 5.06906C7.40523 7.85363 3.96628 11.0403 1.25663 12.8375L0.00018954 13.6708L1.25663 14.5042C3.96628 16.3014 7.40523 19.488 10.2041 22.2726C11.5946 23.6561 12.812 24.9248 13.6816 25.8477C13.7087 25.8765 13.7356 25.905 13.7621 25.9332C14.1593 26.3553 14.4786 26.6996 14.7021 26.9422C14.8212 27.0715 14.9131 27.1719 14.975 27.2397L15.0449 27.3165L15.0624 27.3357L15.0666 27.3404L15.0676 27.3415L15.0678 27.3417L15.8094 26.6708Z" fill="white" />
                            </svg>  
                    .swiper.main-swiper
                        .swiper-wrapper
                            if galleryData && galleryData.length && galleryData[0].photos
                                each photo in galleryData[0].photos
                                    .swiper-slide
                                        img(src=photo alt="Product")
                    button.custom.custom-next(type="button")
                        span.icon-arrow-right
                            <svg width="17" height="28" viewBox="0 0 17 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.741409 0.670844C-0.000180781 1.3417 -0.000105262 1.34178 2.26498e-06 1.3419L0.000377417 1.34231L0.00170171 1.34378L0.00663269 1.34922L0.025512 1.37002L0.0984454 1.4501C0.162358 1.52014 0.256407 1.62288 0.377854 1.75469C0.620732 2.0183 0.973291 2.39828 1.41362 2.86557C2.29399 3.79985 3.52667 5.08465 4.93611 6.4869C7.36518 8.90358 10.3657 11.7162 13.0047 13.6708C10.3657 15.6255 7.36518 18.4381 4.93611 20.8548C3.52667 22.257 2.29399 23.5418 1.41362 24.4761C1.3861 24.5053 1.35892 24.5342 1.33209 24.5627C0.929649 24.9904 0.605552 25.3399 0.377854 25.587C0.256407 25.7188 0.162358 25.8215 0.0984454 25.8916L0.025512 25.9717L0.00663269 25.9925L0.00170177 25.9979L0.00170171 25.9979L0.000377417 25.9994L2.32458e-06 25.9998C-0.000105202 25.9999 -0.000180781 26 0.741409 26.6708L1.48301 27.3417L1.48321 27.3415L1.48418 27.3404L1.4884 27.3357L1.50584 27.3165L1.57578 27.2397C1.63765 27.1719 1.72954 27.0715 1.84871 26.9422C2.07219 26.6996 2.39152 26.3554 2.78872 25.9332C2.81521 25.905 2.84203 25.8765 2.8692 25.8477C3.73882 24.9248 4.95615 23.6561 6.3467 22.2726C9.14555 19.4881 12.5845 16.3014 15.2941 14.5042L16.5506 13.6708L15.2941 12.8375C12.5845 11.0403 9.14555 7.85364 6.3467 5.06907C4.95615 3.68561 3.73882 2.41684 2.8692 1.49397C2.84203 1.46514 2.81521 1.43665 2.78872 1.4085C2.39152 0.98633 2.07219 0.642038 1.84871 0.399493C1.72954 0.270144 1.63765 0.16976 1.57578 0.101963L1.50584 0.0251687L1.4884 0.00595713L1.48418 0.0012967L1.48321 0.000221491L1.48301 0L0.741409 0.670844Z" fill="white" />
                            </svg>

                .swiper.thumbs-swiper
                    .swiper-wrapper
                        if galleryData && galleryData.length && galleryData[0].thumbnails
                            each thumb in galleryData[0].thumbnails
                                .swiper-slide
                                    img(src=thumb alt="Thumb")
.modal-slider-overview
    .modal-slider-close 
            div
