mixin swiper(className = '', nextBtnClass = '', prevBtnClass = '')
  .swiper-container
    .swiper-shadow-wrapper
      .swiper(class=className)&attributes(attributes)
        .swiper-wrapper
          block

        .swiper-pagination
      .swiper-custom-arrows
        div(class=`swiper-custom-prev-arrow ${prevBtnClass}`)
          <svg width="17" height="28" viewBox="0 0 17 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.8091 26.671C16.5507 26.0001 16.5506 26 16.5505 25.9999L16.5502 25.9995L16.5488 25.998L16.5439 25.9926L16.525 25.9718L16.4521 25.8917C16.3882 25.8217 16.2941 25.7189 16.1727 25.5871C15.9298 25.3235 15.5772 24.9435 15.1369 24.4762C14.2565 23.5419 13.0239 22.2571 11.6144 20.8549C9.18535 18.4382 6.18486 15.6256 3.54582 13.671C6.18486 11.7163 9.18535 8.90369 11.6144 6.48701C13.0239 5.08476 14.2565 3.79996 15.1369 2.86568C15.5772 2.3984 15.9298 2.01841 16.1727 1.75481C16.2941 1.62299 16.3882 1.52025 16.4521 1.45022L16.525 1.37013L16.5439 1.34933L16.5488 1.34389L16.5502 1.34242L16.5505 1.34201C16.5506 1.34189 16.5507 1.34181 15.8091 0.670956L15.0675 0.000110756L15.0673 0.000332008L15.0664 0.00140775L15.0621 0.00606931L15.0447 0.0252801L14.9748 0.102074C14.9129 0.169871 14.821 0.270256 14.7018 0.399603C14.4634 0.65832 14.116 1.0328 13.6813 1.49408C12.8117 2.41695 11.5944 3.68572 10.2038 5.06919C7.40499 7.85375 3.96604 11.0404 1.25639 12.8376L-5.46009e-05 13.671L1.25639 14.5043C3.96604 16.3015 7.40499 19.4882 10.2038 22.2727C11.5944 23.6562 12.8117 24.925 13.6813 25.8478C14.116 26.3091 14.4635 26.6836 14.7018 26.9423C14.821 27.0717 14.9129 27.172 14.9748 27.2398L15.0447 27.3166L15.0621 27.3358L15.0664 27.3405L15.0673 27.3416L15.0675 27.3418L15.8091 26.671Z" fill="#292D33" />
          </svg>
        div(class=`swiper-custom-next-arrow ${nextBtnClass}`)
          <svg width="17" height="28" viewBox="0 0 17 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.741409 0.670844C-0.00018047 1.3417 -0.000104951 1.34178 2.57559e-06 1.3419L0.000377727 1.34231L0.00170202 1.34378L0.006633 1.34922L0.0255123 1.37002L0.0984457 1.4501C0.162358 1.52014 0.256407 1.62288 0.377855 1.75469C0.620732 2.0183 0.973291 2.39828 1.41362 2.86557C2.29399 3.79985 3.52667 5.08465 4.93611 6.4869C7.36518 8.90358 10.3657 11.7162 13.0047 13.6708C10.3657 15.6255 7.36518 18.4381 4.93611 20.8548C3.52667 22.257 2.29399 23.5418 1.41362 24.4761C0.973291 24.9434 0.620732 25.3234 0.377855 25.587C0.256407 25.7188 0.162358 25.8215 0.0984457 25.8916L0.0255123 25.9717L0.006633 25.9925L0.00170202 25.9979L0.000377727 25.9994L2.57559e-06 25.9998C-0.000104951 25.9999 -0.00018047 26 0.741409 26.6708L1.48301 27.3417L1.48321 27.3415L1.48418 27.3404L1.4884 27.3357L1.50584 27.3165L1.57578 27.2397C1.63765 27.1719 1.72954 27.0715 1.84871 26.9422C2.08709 26.6835 2.43453 26.309 2.8692 25.8477C3.73882 24.9248 4.95615 23.6561 6.34671 22.2726C9.14555 19.4881 12.5845 16.3014 15.2941 14.5042L16.5506 13.6708L15.2941 12.8375C12.5845 11.0403 9.14555 7.85364 6.34671 5.06907C4.95615 3.68561 3.73882 2.41684 2.8692 1.49397C2.43453 1.03269 2.08709 0.658208 1.84871 0.399493C1.72954 0.270144 1.63765 0.16976 1.57578 0.101963L1.50584 0.0251687L1.4884 0.00595713L1.48418 0.0012967L1.48321 0.000221491L1.48301 0L0.741409 0.670844Z" fill="#292D33" />
          </svg>
