include ../../partials/mixins/ui/swiper/_swiper.pug
.about-wrap 
    .container-content  
        .about 
            .about__promo 
                p Врачи ветеринарного центра «ВетКэт», вот уже 20 лет лечат кошек, собак и других питомцев. Каждый год нашей работы — это бесценный опыт, новые знания, а главное — благодарные  животные и их хозяева.
            .about__desc 
                p Наша главная идея состоит в том, что каждый домашний любимец должен иметь возможность получить современную и высокотехнологичную медицинскую помощь, основанную на принципах доказательной медицины и заботливом отношении к каждому пациенту. 
            .about__banner 
                img(src="/img/mission/banner.png", alt="banner")
            .about__why
                h3 Почему стоит обратиться к нам
                p Врачи клиники и медицинский персонал клиники делают все возможное, чтобы каждая пара дождалась своего малыша, обеспечивая уверенность пациентов в успехе разрабатываемых для них индивидуальных лечебных программ и создавая максимально комфортную обстановку. Экспертный уровень квалификации сотрудников: в штате клиники доктора и кандидаты наук с большим опытом работы и собственными наработками.
                p Использование самых современных эффективных технологий и новейших лечебных методов, обеспечивающих максимальную результативность: мы единственные ввели систему Primo Vision, гарантирующую наглядность и прозрачность ЭКО. Безупречное оснащение клинических отделений, лабораторий и операционных: клиника ориентирована только на европейские стандарты. Нашим пациенткам доступно все лучшее, что есть в мире. 
        .about__slider 
            h3 Лицензии и сертификаты
            include ../../partials/components/ui/swiper-prompt.pug
            +swiper('sertificates-swiper', 'sertificates-next', 'sertificates-prev')
                .swiper-slide 
                    <div class="image-placeholder"></div>
                .swiper-slide 
                    <div class="image-placeholder"></div>
                .swiper-slide 
                    <div class="image-placeholder"></div>
                .swiper-slide 
                    <div class="image-placeholder"></div>
                .swiper-slide 
                    <div class="image-placeholder"></div>
                .swiper-slide 
                    <div class="image-placeholder"></div>
                .swiper-slide 
                    <div class="image-placeholder"></div>
                .swiper-slide 
                    <div class="image-placeholder"></div>
