.swiper-prompt 
    span Свайп 
        <svg>
            <path d="M-1.5299e-07 3.86218L14 3.86218M14 3.86218C12.4108 2.86218 9.78494 0.362184 9.78494 0.362184M14 3.86218C12.4108 4.86218 9.78494 7.36218 9.78494 7.36218" stroke="currentColor"/>
        </svg>
