@use 'sass:map';
@use '../../base/vars' as *;
@use '../../mixins/respond-to.scss' as *;

.footer {
    border-top: 1px solid map.get($colors, borders);
    padding: 31px 0 28px 0;
    background: map.get($colors, bg3);

    &__wrap {
        display: grid;
        grid-template-columns: 271px 1fr;
        column-gap: 113px;
        row-gap: 40px;

        @media(max-width: 1500px) {
            grid-template-columns: 1fr;
        }
    }

    &__leftside {
        max-width: 271px;
        font-weight: 700;

        .subscribe-title {
            width: 100%;
            font-size: 16px;
            line-height: 125%;
            color: map.get($colors, text1);
            margin-bottom: 10px;
        }

        .inst-link {
            display: flex;
            align-items: center;
            gap: 6px;

            .inst-name {
                font-weight: 700;
                font-size: 16px;
                line-height: 125%;
                background: linear-gradient(225deg, #feda75 0%, #fa7e1e 33.36%, #d62976 58.15%, #962fbf 80.66%, #4f5bd5 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    &__rightside {
        width: 100%;
        max-width: 728px;

        .footer-disclaimer {
            font-weight: 400;
            font-size: 14px;
            line-height: 143%;
            color: map.get($colors, text2);
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
        grid-column: 1 / -1;
        border-top: 1px solid map.get($colors, borders);
        column-gap: 60px;
        row-gap: 30px;
        flex-wrap: wrap;
    }

    &__copy {
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        color: map.get($colors, text3);
    }

    &__confidient-link {
        a {
            font-weight: 400;
            font-size: 14px;
            line-height: 143%;
            text-align: right;
            color: map.get($colors, primary);
        }
    }
}