@use 'sass:map';
@use '../../mixins/respond-to.scss' as *;
@use '../../base/vars' as *;

.appointment-modal {
    display: none;
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    padding: 66px 80px 104px;
    background: map.get($colors, white1);
    border-radius: 26px;
    z-index: 10000;
    width: 100%;
    max-width: 608px;

    @include respond-to(tablet-l) {
        padding: 30px 25px;
    }

    &__wrap {
        width: 100%;
        max-width: 448px;

        @include respond-to(tablet-l) {
            margin: 0 auto;
        }
    }

    &__title {
        margin-bottom: 32px;
    }

    &__close {
        position: absolute;
        right: 32px;
        top: 32px;
        width: 15px;
        height: 2px;

        div {
            position: relative;
            width: 20px;
            height: 2px;
            transform: rotate(45deg);
            background: map.get($colors, text1);

            &::after {
                position: absolute;
                content: '';
                display: block;
                width: inherit;
                height: inherit;
                background: inherit;
                transform: rotate(-90deg);

            }
        }
    }

    &__overlay {
        display: none;
        position: fixed;
        content: '';
        height: 100vh;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: black;
        z-index: 10000;
        opacity: .85;
    }

    &__input {

        &-text,
        &-phone,
        &-date {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;

            @include respond-to(mobile) {
                gap: 0;
            }

            input {
                width: 100%;
                max-width: 284px;

                @include respond-to(tablet) {
                    max-width: 100%;
                }
            }

            label {
                width: 120px;

                @include respond-to(tablet) {
                    width: 100%;
                }
            }
        }

        &-phone {
            margin-top: 8px;
            margin-bottom: 24px;
        }

        &-text {
            span {
                font-weight: 400;
                font-size: 14px;
                line-height: 143%;
                color: map.get($colors, text3);
            }
        }
    }

    &__radio {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 20px;
        margin-bottom: 8px;
        gap: 20px;
        flex-wrap: wrap;

        label {
            margin-bottom: 0;
        }

        &-buttons {
            display: flex;
            margin-right: 20px;
            padding: 4px;
            background: map.get($colors, white2);
            border-radius: 999px;
            border: 1px solid map.get($colors, white2);
            border-radius: 20px;
            box-shadow: inset 0 0 3px 0 rgba(13, 61, 46, 0.4);

            &:last-child {
                margin-right: 0;
            }

            label {
                padding: 10px 18px;
                border-radius: 999px;
                font-size: 16px;
                line-height: 150%;
                text-align: center;
                cursor: pointer;
                color: map.get($colors, text3);
                transition: 0.25s;
                border-radius: 16px;
            }

            input:checked+label {
                background: map.get($colors, primary);
                color: white;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
            }
        }
    }

    &__input-date {
        position: relative;
        margin-bottom: 24px;

        input {
            background-image: url('../../../img/icons/calendar-icon.svg');
            background-repeat: no-repeat;
            background-position: right 15px bottom 7px;
        }
    }

    &__calendar-wrapper {
        position: absolute;
        display: none;
        right: 0;
        top: 40px;
    }

    &__calendar-wrapper.active {
        display: block;
    }

    &__textarea {
        margin-top: 18px;
        margin-bottom: 46px;

        .db {
            display: block;
            margin-bottom: 10px;
        }

        textarea {
            max-height: 160px;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include respond-to(tablet) {
            flex-wrap: wrap;
        }
    }

    &__checkbox {
        @include respond-to(tablet) {
            margin-bottom: 20px;
        }

        input {
            position: relative;
            bottom: -3px;
            width: 18px;
            height: 18px;
            border: 1px solid map.get($colors, borders);
            border-radius: 2px;
            margin-right: 5px;
        }

        input+label {
            position: relative;
            gap: 8px;
            cursor: pointer;

            svg {
                position: absolute;
                display: inline-block;
                left: -23px;
                top: 7px;
                opacity: 0;
            }

            span {
                color: map.get($colors, text);
                font-size: 14px;
                line-height: 20px;
            }
        }

        input:checked+label {
            svg {
                opacity: 1;
            }
        }
    }
}