@use 'sass:map';
@use '../../base/vars' as *;
@use '../../mixins/respond-to.scss' as *;

.contacts {
    &-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        margin-bottom: 66px;

        @include respond-to(laptop-m) {
            grid-template-columns: 1fr;
        }
    }

    &-card {
        padding: 34px 56px 55px 56px;
        box-shadow: inset 0 0 10px 0 rgba(49, 53, 54, 0.05);
        background: linear-gradient(90deg, #e8fafa 0%, #dcf2e8 100%);
        width: 100%;
        max-width: 536px;

        @media(max-width: 1600px) {
            padding: 34px 20px 55px 20px;
        }

        &__title {
            margin-bottom: 22px;
        }

        &-paragraph {

            font-weight: 400;
            font-size: 17px;
            line-height: 141%;
            color: map.get($colors, text1);
            margin-bottom: 12px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}