@use 'sass:map';
@use '../../base/vars' as *;
@use '../../mixins/respond-to.scss' as *;
@use '../../main.scss';
@use './contacts-cards.scss';

.contacts {
    &__info {
        &-block {
            display: flex;
            justify-content: space-between;
            gap: 40px;
            align-items: flex-start;
            margin-top: 18px;
            flex-wrap: wrap;
        }

        .info {
            &__tel {
                margin-bottom: 16px;

                .tel-link {
                    display: block;
                    margin-bottom: 4px;
                }

                span {
                    display: block;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 143%;
                    color: map.get($colors, text3);
                }
            }

            &__mail {
                margin-bottom: 43px;

                .mail-link {
                    margin-left: 4px;
                }
            }

            &__segments {
                margin-bottom: 20px;
            }

            &__adress {
                &-title {
                    margin-bottom: 11px;
                    display: block;
                }

                &-info {
                    margin-bottom: 30px;

                    span {
                        display: block;
                        margin-bottom: 6px;
                    }
                }
            }

            &__location-link {
                display: flex;
                align-items: center;
                font-weight: 700;
                font-size: 14px;
                line-height: 171%;
                text-align: right;
                color: map.get($colors, primary);
                text-wrap: nowrap;

                svg {
                    stroke-width: 2px;
                    height: 8px;
                    margin-left: 10px;
                }
            }
        }
    }

    &__map {
        margin-bottom: 160px;

        @include respond-to(tablet-l) {
            width: 100%;
        }

        @include respond-to(mobile) {
            margin-bottom: 80px;
        }

        iframe {
            @include respond-to(tablet-l) {
                width: 100%;
                max-width: 600px;
                height: 400px;
            }

            @include respond-to(mobile) {
                height: 300px;
            }
        }
    }
}