mixin price-card(content)
    .price-card
        .price-card__header
            .price-card__title 
                h3=content.title
            .price-card__desc Цены указаны в российских рублях за одну процедуру/сеанс для одного животного
        .price-card__services
            each service in content.services 
                .price-card__service-item
                    .price-card__service
                        span=service.title 
                    .price-card__service-price 
                        span=service.price
        