mixin text-card(content = [])
    .text-card 
        .text-card__content 
            .text-card__content-wrap
                h5.text-card__title=content.title 
                span.text-card__desc=content.desc 
            .text-card__link 
                a(href="#") Подробнее
                .text-card__svg-arrow 
                    <svg width="19" height="10" viewBox="0 0 19 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M-1.74845e-07 4.66272L17 4.66272M17 4.66272C15.3146 3.51986 12.7865 0.662721 12.7865 0.662721M17 4.66272C15.3146 5.80558 12.7865 8.66272 12.7865 8.66272" stroke="white" stroke-width="2" />
                    </svg> 
