@use 'sass:map';
@use '../../../base/vars.scss' as *;

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    padding: 11px 24px 13px 24px;
    border-radius: 16px;
    text-wrap: nowrap;



    &--primary {
        background-color: map.get($colors, 'primary-2');
        color: map.get($colors, 'white1');

        &:hover,
        &:active {
            background-color: #f72056;

        }
    }

    &--green {
        background-color: map.get($colors, 'primary');
        color: map.get($colors, 'white1');

        &:hover,
        &:active {
            background-color: #2bd9bc;
        }
    }

    &--contured {
        background-color: transparent;
        border: 2px solid map.get($colors, 'primary');
        color: map.get($colors, 'text-2');

        &:hover,
        &:active {
            color: #2bd9bc;
        }
    }
}