.contacts-cards 
    .contacts-card 
        .contacts-card__title 
            h3 На Автобусе
        .contacts-card-paragraph 
            p Остановка студенческая. Выход к Бессарабской улице, пешком до остановки 190 метров.
        .contacts-card-paragraph 
            p Автобусы: № 45, 190, 610, 612, 867. Маршрутное такси: 509м и № 556м.
        .contacts-card-paragraph 
            p Необходимо проехать до 5-ой остановки «Улица Ицхака Рабина». Выйдя на остановке, вернуться на 20 метров в обратную сторону, до жилого здания, которое находится на возвышенности.
    .contacts-card 
        .contacts-card__title 
            h3 На Троллейбусе
        .contacts-card-paragraph 
            p Остановка студенческая. Выход к Бессарабской улице, пешком до остановки 190 метров.
        .contacts-card-paragraph 
            p Автобусы: № 45, 190, 610, 612, 867. Маршрутное такси: 509м и № 556м.
        .contacts-card-paragraph 
            p Необходимо проехать до 5-ой остановки «Улица Ицхака Рабина». Выйдя на остановке, вернуться на 20 метров в обратную сторону, до жилого здания, которое находится на возвышенности.
    .contacts-card 
        .contacts-card__title 
            h3 На автомобиле
        .contacts-card-paragraph 
            p Необходимо проехать до 5-ой остановки «Улица Ицхака Рабина». Выйдя на остановке, вернуться на 20 метров в обратную сторону, до жилого здания, которое находится на возвышенности. Необходимо проехать до 5-ой остановки «Улица Ицхака Рабина». Выйдя на остановке, вернуться на 20 метров в обратную сторону, до жилого здания, которое находится на возвышенности. Необходимо проехать до 5-ой остановки «Улица Ицхака Рабина». Выйдя на остановке, вернуться на 20 метров в обратную сторону.
