.container-content
    .services-list__wrap
        .services-list__title 
            h3 Все услуги
        .services-list 
            .services-list__item
                a(href="#") Вакцинация
            .services-list__item
                a(href="#") Зоомагазин
            .services-list__item
                a(href="#") Офтальмология
            .services-list__item
                a(href="#") Терапия
            .services-list__item
                a(href="#") Ветаптека
            .services-list__item
                a(href="#") Кардиология
            .services-list__item
                a(href="#") Реанимация и интенсивная терапия
            .services-list__item
                a(href="#") Травматология
            .services-list__item
                a(href="#") Врач на дом
            .services-list__item
                a(href="#") Кастрация
            .services-list__item
                a(href="#") Рентген
            .services-list__item
                a(href="#") УЗИ
            .services-list__item
                a(href="#") Гастроэнтерология
            .services-list__item
                a(href="#") Лаборатория
            .services-list__item
                a(href="#") Репродуктология
            .services-list__item
                a(href="#") Хирургия
            .services-list__item
                a(href="#") Груминг
            .services-list__item
                a(href="#") Нефрология
            .services-list__item
                a(href="#") Стационар
            .services-list__item
                a(href="#") Эвтаназия
            .services-list__item
                a(href="#") Дерматология
            .services-list__item
                a(href="#") Онкология
            .services-list__item
                a(href="#") Стоматология
            .services-list__item
                a(href="#") Эндокринология
            .services-list__item
                a(href="#") Зоогостиница
            .services-list__item
                a(href="#") Ортопедия

