.calendar {
    width: 284px;
    height: auto;
    background: white;
    border-radius: 10px;
    border: 2px solid #244a7a;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.calendar__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
    background: linear-gradient(90deg, #e8fafa 0%, #dcf2e8 100%);
    margin-bottom: 15px;

}

.calendar__title {
    font-size: 14px;
    font-weight: 700;
    color: #222;
}

.calendar__btn {
    border: none;
    background: transparent;
    font-size: 28px;
    font-weight: 700px;
    cursor: pointer;
    color: #666;
    transition: 0.2s;
    margin: 0 auto
}

.calendar__btn:hover {
    color: #000;
    transform: scale(1.2);
}

.calendar__weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #111;
    padding-bottom: 10px;
}

.calendar__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    // gap: 2px;
    text-align: center;
    // padding-top: 2px;
}

.day {
    font-size: 14px;
    color: #333;
    cursor: pointer;
    padding: 8px;
    border-radius: 6px;
    transition: 0.2s;
    user-select: none;
}

.day:hover {
    background: rgba(0, 160, 255, 0.15);
}

.day.inactive {
    color: #bbb;
}

.day.selected {
    color: #00b3b3;
    font-weight: bold;
}