@use '../../main.scss';
@use './main-hero.scss';
@use './main-services.scss';
@use './main-about.scss';
@use './team.scss';
@use './stories.scss';
@use './blogs.scss';
@use './main-social.scss';
@use './main-map.scss';