@use '../../mixins/respond-to.scss' as *;

.main-social {
    padding: 65px 0 80px 0;
    background: linear-gradient(90deg, #e8fafa 0%, #dcf2e8 100%);

    &__wrap {
        position: relative;
    }

    &__title {
        margin-bottom: 22px;

        h2 {
            @include respond-to(tablet) {
                font-size: 42px;
            }
        }
    }

    &__inst-link {
        position: relative;
        left: -20px;
    }

    &__bg {
        position: absolute;
        top: -192px;
        right: -247px;

        @media(max-width: 1760px) {
            display: none;
        }
    }
}