@use 'sass:map';
@use '../../base/vars' as *;
@use '../../mixins/respond-to.scss' as *;

.main-map {
    padding: 139px 0;

    @include respond-to(mobile) {
        padding: 80px 0;
    }

    &__wrap {
        display: flex;
        gap: 40px;
        align-items: flex-start;

        @media(max-width: 1850px) {
            flex-direction: column;
        }
    }

    &__title {
        margin-bottom: 54px;
    }

    &__map {
        width: 100%;
        max-width: 728px;
        border-radius: 8px;

        @media(max-width: 1850px) {
            max-width: 100%;
        }

        iframe {
            width: 100%;
            height: 536px;

            @include respond-to(mobile) {
                height: 300px;
            }
        }
    }

    &__info {
        margin-top: 10px;

        .phone {
            margin-bottom: 33px;

            a {
                display: block;
                margin-bottom: 6px;
            }

            span {
                display: block;
                font-weight: 400;
                font-size: 17px;
                color: map.get($colors, text3);
            }
        }

        .adress-cards {
            display: flex;
            flex-direction: column;
            gap: 16px;
            counter-reset: item;
            margin-bottom: 32px;
        }

        .adress-card {
            position: relative;
            padding: 19px 30px 25px 24px;
            width: 100%;
            max-width: 344px;
            background: linear-gradient(90deg, #e8fafa 0%, #dcf2e8 100%);
            border-radius: 8px;

            &__title {
                margin-bottom: 12px;
            }

            &__info {
                span {
                    font-size: 17px;
                    line-height: 141%;
                    color: map.get($colors, text1);
                }
            }

            &::before {
                position: absolute;
                counter-increment: item;
                content: counter(item) "";
                bottom: -15px;
                right: 20px;
                color: #F3FDFF;
                font-size: 80px;
                font-weight: 700;
                font-variation-settings: "wdth" 120, "wght" 800;
            }
        }
    }
}