@use 'sass:map';
@use '../../base/vars' as *;
@use '../../mixins/respond-to.scss' as *;

.main-about {
    padding: 53px 0;

    &__content {
        position: relative;
    }

    &__title {
        margin-bottom: 89px;
    }

    &-slider {
        .swiper-wrapper {

            .swiper-slide {
                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    min-height: 365px;
                }

                .button {
                    max-width: fit-content;
                }
            }
        }

        &-wrapper {
            display: flex;
            margin-bottom: 30px;

            @media(max-width: 1850px) {
                justify-content: center;
            }

            @include respond-to(tablet) {
                flex-wrap: wrap;
            }
        }

        &__viewport {
            position: relative;
            top: -14px;
            width: 100%;
            max-width: 329px;
            overflow: hidden;
            margin-left: 96px;

            @media(max-width: 1850px) {
                max-width: 500px;
            }

            @include respond-to(laptop-m) {
                max-width: 400px;
            }

            @include respond-to(tablet-l) {
                margin-left: 50px;
                max-width: 280px;
            }

            @include respond-to(tablet) {
                margin-left: 0;
            }
        }

        &__desc {
            letter-spacing: 0.5px;
            line-height: 171%;
            margin-top: -74px;
        }
    }

    &-pagination {
        display: flex;
        flex-direction: column;
        gap: 28px;
        width: 100%;
        align-items: end;
        max-width: 192px;
        margin-left: 96px;

        @media(max-width: 1850px) {
            margin-left: 0;
            max-width: 300px;
        }

        @include respond-to(laptop-m) {
            max-width: 250px;
        }

        @include respond-to(tablet-l) {
            max-width: 180px;
        }

        @include respond-to(tablet) {
            max-width: 333px;
            flex-direction: row;
            margin-bottom: 80px;
        }

        &__item {
            display: none;
            font-weight: 700;
            font-size: 30px;
            line-height: 117%;
            color: map.get($colors, primary);
            cursor: pointer;
        }

        &__item.active {
            display: block;
        }

        &__line {
            width: 100%;
            max-width: 129px;
            height: 4px;
            background: linear-gradient(90deg, #e8fafa 0%, #dcf2e8 100%);
            cursor: pointer;

            @media(max-width: 1850px) {
                max-width: 210px;
            }

            @include respond-to(laptop-m) {
                max-width: 180px;
            }

            @include respond-to(tablet-l) {
                max-width: 100px;
            }
        }

        &__line.active {
            width: 100%;
            max-width: 192px;
            background: map.get($colors, primary);
            font-weight: 600;

            @media(max-width: 1850px) {
                max-width: 300px;
            }

            @include respond-to(laptop-m) {
                max-width: 240px;
            }

            @include respond-to(tablet-l) {
                max-width: 150px;
            }
        }
    }

    &__image-block {
        position: absolute;
        max-width: fit-content;
        right: -80px;
        top: -230px;

        @media(max-width: 1850px) {
            display: none;
        }
    }
}