@use 'sass:map';
@use '../../base/vars' as *;
@use '../../mixins/respond-to.scss' as *;

.main-services {
    padding: 162px 0;

    @include respond-to(tablet) {
        padding: 100px 0;
    }

    @include respond-to(mobile-m) {
        padding: 60px 0;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-bottom: 62px;
        gap: 30px;
        flex-wrap: wrap;
    }

    &__title {
        width: 100%;
        max-width: 490px;

        @include respond-to(mobile-m) {
            margin-bottom: 15px;
        }

        h2 {
            font-weight: 700;
            font-size: 48px;
            line-height: 117%;
            color: map.get($colors, text1);

            @include respond-to(tablet) {
                font-size: 42px;
            }
        }
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 19px;
    }
}