@use 'sass:map';
@use '../../base/vars' as *;
@use '../../mixins/respond-to.scss' as *;

.main-services {
    padding: 162px 0;

    @include respond-to(tablet) {
        padding: 100px 0;
    }

    @include respond-to(mobile-m) {
        padding: 60px 0;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-bottom: 62px;
        gap: 30px;
        flex-wrap: wrap;
    }

    &__title {
        width: 100%;
        max-width: 490px;

        @include respond-to(mobile-m) {
            margin-bottom: 15px;
        }

        h2 {
            font-weight: 700;
            font-size: 48px;
            line-height: 117%;
            color: map.get($colors, text1);

            @include respond-to(tablet) {
                font-size: 42px;
            }
        }
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 19px;
    }

    .swiper-container {
        position: relative;
    }

    .swiper-shadow-wrapper {
        position: relative;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            width: 100%;
            max-width: 6px;
            height: 100%;
            border-radius: 100%;
            filter: blur(12px);
            pointer-events: none;
            z-index: 5;
        }

        &::before {
            left: 0;
            background: linear-gradient(to right,
                    rgba(0, 0, 0, 1),
                    transparent);
        }

        &::after {
            right: 0;
            background: linear-gradient(to left,
                    rgba(0, 0, 0, 1),
                    transparent);
        }
    }

    .main-page-swiper .swiper-button-next,
    .main-page-swiper .swiper-button-prev {
        height: 30px;
        color: map.get($colors, text1);
    }

    .swiper-custom-arrows {
        width: 100%;

        .swiper-custom-prev-arrow {
            position: absolute;
            top: 50%;
            left: -33px;
            transform: translateY(-50%);

            @include respond-to(tablet) {
                left: -20px
            }
        }

        .swiper-custom-next-arrow {
            position: absolute;
            top: 50%;
            right: -33px;
            transform: translateY(-50%);

            @include respond-to(tablet) {
                right: -20px;
            }
        }
    }
}