.dermatology-slider {
    margin-bottom: 164px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 58px;
        gap: 30px;
        flex-wrap: wrap;

        .segment-buttons {
            position: relative;
            bottom: -14px;
        }
    }
}