@use 'sass:map';
@use '../../../base/vars' as *;

.segment {
    &-buttons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        box-shadow: inset 0 0 3px 0 rgba(13, 61, 46, 0.4);
        background: var(--belyy2);
        border-radius: 20px;
        max-width: fit-content;
        padding: 4px;
        transition:
            transform .35s cubic-bezier(.4, 0, .2, 1),
            width .35s cubic-bezier(.4, 0, .2, 1);
    }

    &-item {
        padding: 9px 20px 12px 19px;
        background: transparent;
        color: map.get($colors, text3);
        white-space: nowrap;
        transition: color .25s ease;
        font-weight: 700;

        &--active {
            background: map.get($colors, primary);
            color: map.get($colors, white1);
            border-radius: 16px;
        }
    }
}