.appointment-modal__overlay
.appointment-modal 
    .appointment-modal__close
        div
    .appointment-modal__wrap 
        .appointment-modal__title
            h2 Запись на прием
        form.appointment-modal__form.form 
            .appointment-modal__input-text.form__text
                label(for="name") Имя и фамилия
                input(type="text", name="name", id="appointment-name", reqiured)
            .appointment-modal__input-phone.form__text
                label(for="phone") Телефон
                input(type="tel", name="phone", id="phone", autocomplete="tel", inputmode="numeric", required)
            .appointment-modal__radio.form__radio
                .appointment-modal__radio-title
                    p Филиал центра
                .appointment-modal__radio-buttons
                    input(type="radio", name="affiliate", id="strogino", value="strogino", checked)
                    label(for="strogino") Строгино

                    input(type="radio", name="affiliate", id="donskoy", value="donskoy")
                    label(for="donskoy") Донской
            .appointment-modal__input-date.form__text
                label(for="date") Выберите дату
                input(type="text" name="date" id="date" readonly required)
                .appointment-modal__calendar-wrapper
                    include ./date-picker.pug
            .appointment-modal__input-text.form__text
                    label(for="pet") Кто ваш питомец?
                        span например, кот Кокос
                    input(type="text", name="pet", id="pet", required)
            .appointment-modal__textarea.form__textarea
                label(for="review") Сообщение 
                    span (необязательно)
                    span.db Можете описать проблему вашего питомца или указать специалиста, к которому хотите попасть на прием
                textarea.appointment-modal__textarea-input(name="review" id="appointment-review")
            .appointment-modal__footer 
                .appointment-modal__checkbox.form__checkbox 
                    input(type="checkbox", name="checkbox", id="appointment-checkbox", required)
                    label(for="appointment-checkbox") 
                        <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.707031 4.20703L4.70703 8.20703L12.207 0.707031" stroke="#292D33" stroke-width="2" />
                        </svg>
                        span Я согласен с 
                        | условиями обработки персональных данных
                .appointment-modal__submit.form__submit 
                    button.button.button--green.form__submit-button(type="submit") Записаться

    
