.appointment-modal__overlay
.appointment-modal 
    .appointment-modal__close
        div
    .appointment-modal__wrap 
        .appointment-modal__title
            h2 Запись на прием
        form.appointment-modal__form.form 
            .appointment-modal__input-text.form__text
                label(for="name") Имя и фамилия
                input(type="text", name="name", id="appointment-name", reqiured)
            .appointment-modal__input-phone.form__text
                label(for="phone") Телефон
                input(type="tel", name="phone", id="phone", autocomplete="tel", inputmode="numeric", required)
            .appointment-modal__radio.form__radio
                .appointment-modal__radio-title
                    p Филиал центра
                .appointment-modal__radio-buttons
                    input(type="radio", name="affiliate", id="strogino", value="strogino", checked)
                    label(for="strogino") Строгино

                    input(type="radio", name="affiliate", id="donskoy", value="donskoy")
                    label(for="donskoy") Донской
            .appointment-modal__input-date.form__text
                label(for="date") Выберите дату
                input(type="text" name="date" id="date" readonly required)
                //- .appointment-modal__input-date-icon
                    <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5 0H6V1H12V0H13V1H16C17.1046 1 18 1.89543 18 3V15C18 16.1046 17.1046 17 16 17H2C0.89543 17 0 16.1046 0 15V3C0 1.89543 0.895431 1 2 1H5V0ZM12 2V3H13V2H16C16.5523 2 17 2.44772 17 3V15C17 15.5523 16.5523 16 16 16H2C1.44772 16 1 15.5523 1 15V3C1 2.44772 1.44772 2 2 2H5V3H6V2H12ZM4 5V7H6V5H4ZM6 10V8H4V10H6ZM6 11V13H4V11H6ZM10 5H8V7H10V5ZM8 8H10V10H8V8ZM10 11H8V13H10V11ZM12 7V5H14V7H12ZM14 8V10H12V8H14ZM14 13V11H12V13H14Z" fill="#364B76" />
                    </svg>
                .appointment-modal__calendar-wrapper
                    include ./date-picker.pug
            .appointment-modal__input-text.form__text
                    label(for="pet") Кто ваш питомец?
                        span например, кот Кокос
                    input(type="text", name="pet", id="pet", required)
            .appointment-modal__textarea.form__textarea
                label(for="review") Сообщение 
                    span (необязательно)
                    span.db Можете описать проблему вашего питомца или указать специалиста, к которому хотите попасть на прием
                textarea(name="review" id="appointment-review")
            .appointment-modal__footer 
                .appointment-modal__checkbox.form__checkbox 
                    input(type="checkbox", name="checkbox", id="appointment-checkbox", required)
                    label(for="appointment-checkbox") 
                        <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.707031 4.20703L4.70703 8.20703L12.207 0.707031" stroke="#292D33" stroke-width="2" />
                        </svg>
                        span Я согласен с 
                        | условиями обработки персональных данных
                .appointment-modal__submit.form__submit 
                    button.button.button--green(type="submit") Записаться

    
