.calendar
  .calendar__header
    button(type="button")#prevBtn.calendar__btn &lsaquo;
    #monthTitle.calendar__title
    button(type="button")#nextBtn.calendar__btn &rsaquo;
  .calendar__weekdays
    div Пн
    div Вт
    div Ср
    div Чт
    div Пт
    div Сб
    div Вс
  #daysGrid.calendar__days
