.review-modal__overlay.reviews__modal-overlay
.review-modal 
    .review-modal__close.reviews__modal-close
        div
    .review-modal__wrap 
        .review-modal__title
            h2 Оставить отзыв
        form.review-modal__form.form
            .review-modal__select.form__select
                label(for="doctor") Специалист
                    .select-arrow 
                        <svg width="16" height="11" viewBox="0 0 16 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.707 0.707031C14.707 0.707031 9.70703 5.70703 7.70703 8.70703C5.70703 5.70703 0.707031 0.707031 0.707031 0.707031" stroke="#292D33" stroke-width="2" />
                        </svg>
                select(id='doctor', name="doctor")
                    option(value='', selected) 
            .review-modal__textarea.form__textarea
                label(for="review") 
                textarea(name="review" id="review" required)
            .review-modal__inputs-block
                .review-modal__input-text.form__text
                    label(for="name") Ваше имя
                    input(type="text", name="name", id="name", required)
                .review-modal__input-text.form__text 
                    label(for="mail") E-mail для ответа 
                        span не публикуем на сайте
                    input(type="email", name="mail", id="mail", required)
            .review-modal__footer 
                .review-modal__checkbox.form__checkbox 
                    input(type="checkbox", name="review-checkbox", id="review-checkbox", required)
                    label(for="review-checkbox") 
                        <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.707031 4.20703L4.70703 8.20703L12.207 0.707031" stroke="#292D33" stroke-width="2" />
                        </svg>
                        span Я согласен с 
                        | условиями обработки персональных данных
                .review-modal__submit.form__submit 
                    button.button.button--green(type="submit") Отправить
