<svg style='display: none;'>
    <symbol id="icon-arrow" width="15" height="8" viewBox="0 0 15 8" xmlns="http://www.w3.org/2000/svg"> 
        <path d="M-1.5299e-07 3.86218L14 3.86218M14 3.86218C12.4108 2.86218 9.78494 0.362184 9.78494 0.362184M14 3.86218C12.4108 4.86218 9.78494 7.36218 9.78494 7.36218" stroke="currentColor"/>
    </symbol>
</svg>








