@use 'sass:map';
@use './reset.scss';
@use './base/vars' as *;
@use './mixins/respond-to.scss' as *;
@use './components/header/header.scss';
@use './components/sidebar/sidebar.scss';
@use './components/burger/burger.scss';
@use './components/breadcrumbs/breadcrumbs.scss';
@use './components/hero/hero.scss';
@use './components/ui/button/button.scss';
@use './components/ui/cards/text-card.scss';
@use './components/ui/cards/team-card.scss';
@use './components/ui/cards/pet-card.scss';
@use './components/ui/swiper/swiper.scss';
@use './components/footer/footer.scss';


body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    overflow-x: hidden;

    &:has(.burger__line:checked) {
        overflow: hidden;
    }

    &:has(.burger__line:checked) .overlay {
        display: block;
        z-index: 997;
    }

    &:has(.burger__line:checked) {
        .sidebar {
            transform: translateX(0);
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 117%;
    color: map.get($colors, text1);
}

h2 {
    font-size: 48px;

    @include respond-to(tablet) {
        font-size: 42px;
    }

    @include respond-to(mobile) {
        font-size: 36px;
    }
}

h3 {
    font-size: 30px;
}

h5 {
    font-size: 20px;
    line-height: 120%;
}

h6 {
    font-size: 17px;
    line-height: 118%;
}

.container {
    padding: 98px 0 0 300px;

    @include respond-to(laptop) {
        padding: 98px 0 0 0;
    }

    &-content {
        padding: 0 253px 0 254px;

        @include respond-to(laptop-l) {
            padding: 0 60px;
        }

        @include respond-to(tablet) {
            padding: 0 30px;
        }
    }
}