.container-content 
    .price-search 
        .price-search__form 
            input.price-search__input(type="text", name="search", placeholder="Введите название услуги")
            button.button.button--green Найти
