@use 'sass:map';
@use '../../base/vars' as *;

.breadcrumbs {
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: map.get($colors, text3);
    gap: 9px;
    margin-bottom: 6px;
    align-items: center;

    .current-page {
        color: map.get($colors, text4);
    }

    .icon {
        width: 15px;
        height: 8px;
    }
}