@use 'sass:map';
@use '../../../mixins/respond-to' as *;
@use '../../../base/vars' as *;

.pet-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    &:hover {
        .pet-card__title {
            h5 {
                color: map.get($colors, primary);
                transition: color .3s ease;
            }
        }

        .pet-card__date {
            color: map.get($colors, primary);
            transition: color .3s ease;
        }

        .pet-card__img-wrap::after {
            opacity: .2;
            transition: opacity .3s ease;
        }
    }

    &__img-wrap {
        position: relative;
        width: fit-content; // адаптивная ширина
        aspect-ratio: 1 / 1;
        border-radius: 8px;
        margin-bottom: -3px;

        &::after {
            position: absolute;
            content: '';
            display: block;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: map.get($colors, darken);
            opacity: 0;
            border-radius: 8px;
            width: 100%;
            height: 100%;
        }
    }

    &__title {
        margin-bottom: 12px;
        text-wrap: wrap;
        cursor: pointer;

        @media (max-width: 1910px) {
            text-align: center;

        }
    }

    &__date {
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        color: map.get($colors, text3);

        @media (max-width: 1910px) {
            display: block;
            margin: 0 auto;
            width: fit-content;
        }
    }

}