@use 'sass:map';
@use '../../../base/vars' as *;
@use '../../../mixins/respond-to.scss' as *;

.price-card {
    padding: 35px 56px 55px 56px;
    width: 100%;
    max-width: 536px;
    box-shadow: inset 0 0 10px 0 rgba(49, 53, 54, 0.05);
    background: linear-gradient(90deg, #e8fafa 0%, #dcf2e8 100%);
    border-radius: 8px;

    @include respond-to(tablet) {
        padding: 23px 26px;
    }

    &__header {
        border-bottom: 1px solid map.get($colors, borders);
        padding-bottom: 19px;
        margin-bottom: 14px;
    }

    &__title {
        margin-bottom: 7px;
    }

    &__sub-item {
        margin-bottom: 21px;
    }

    &__subtitle {
        font-weight: 700;
        font-size: 17px;
        line-height: 141%;
        color: map.get($colors, text1);
    }

    &__desc {
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        color: map.get($colors, text2);
    }

    &__service,
    &__service-price {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 17px;
        line-height: 141%;
        color: map.get($colors, text1);
    }

    &__services {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__service {
        width: 100%;
        max-width: 374px;

        @include respond-to(mobile) {
            max-width: 100px;
        }

        &-item {
            display: flex;
            justify-content: space-between;
            gap: 30px;

            @include respond-to(mobile) {
                border-bottom: 1px solid map.get($colors, border);
                padding-bottom: 10px;

            }
        }

        &-price {
            text-align: right;
        }
    }
}