@use 'sass:map';
@use '../../../base/vars' as *;
@use '../../../mixins/respond-to' as *;

.team-card {
    width: 100%;
    max-width: 344px;
    height: auto;
    margin: 0 auto;

    &:hover {

        &:has(.team-card__name) {
            h5 {
                color: map.get($colors, primary);
            }
        }

        &:has(.team-card__position) {
            .team-card__position-text {
                color: map.get($colors, primary);
            }
        }

        &:has(.team-card__photo-info-block) {
            .shedule {
                display: flex;
            }
        }
    }

    &__photo-wrap {
        width: 100%;
        height: auto;
        max-height: 400px;
        border-radius: 8px;
        margin-bottom: 14px;
    }

    &__photo-info-block {
        height: auto;
        position: relative;
        box-shadow: inset 0 -2px 8px 0 rgba(11, 60, 54, 0.1);
        border-radius: 8px;

        img {
            display: block;
        }


        @include respond-to(tablet-l) {
            display: block;
        }

        div {
            padding: 17px 10px 20px 10px;
            display: none;
            position: absolute;
            bottom: 0;
            background: linear-gradient(90deg, #e8fafa 0%, #dcf2e8 100%);
            border-radius: 8px;

            @include respond-to(tablet-l) {
                display: flex;
            }

            p {
                font-weight: 700;
                font-size: 14px;
                line-height: 114%;
                color: map.get($colors, text1);
                border-right: 1px solid map.get($colors, border);
                padding: 0 5px 0 5px;

                @include respond-to(laptop-l) {
                    font-size: 11px;
                }
            }

            span {
                font-weight: 400;
                font-size: 14px;
                line-height: 114%;
                color: map.get($colors, text1);
                padding-left: 10px;
                padding: 0 5px 0 5px;

                @include respond-to(laptop-l) {
                    text-align: center;
                    font-size: 11px;
                }
            }

            .text2 {
                border-left: 1px solid map.get($colors, border);

            }
        }
    }

    &__about-block {
        width: 100%;
        max-width: 260px;
    }

    &__name {
        text-wrap: wrap;
        margin-bottom: 7px;
    }

    &__position {
        display: block;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: map.get($colors, text2);
        text-wrap: nowrap;

        @media (max-width: 1910px) {
            text-wrap: wrap;
        }
    }
}