@use 'sass:map';
@use '../../../base/vars' as *;
@use '../../../mixins/respond-to' as *;

.text-card {
    padding: 28px 32px 0 32px;
    width: 100%;
    max-width: 344px;
    border-radius: 8px;
    background: linear-gradient(90deg, #e8fafa 0%, #dcf2e8 100%);
    margin: 0 auto;

    @include respond-to(tablet-l) {
        height: auto;
        margin-top: 25px;
    }

    &:hover {
        background: map.get($colors, primary);

        .text-card__title {
            color: map.get($colors, white1);
        }

        .text-card__desc {
            color: map.get($colors, white1);
        }

        .text-card__link {
            display: block;

            path {
                stroke: map.get($colors, white1);
            }
        }

        transition: all .3s ease;

        @include respond-to(tablet-l) {
            background: linear-gradient(90deg, #e8fafa 0%, #dcf2e8 100%);

            .text-card__title {
                color: map.get($colors, text1);

            }

            .text-card__desc {
                color: map.get($colors, text1);

            }

            .text-card__link {
                svg {
                    path {
                        stroke: map.get($colors, primary)
                    }
                }
            }
        }
    }

    &__content {
        min-height: 212px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 120%;
        color: map.get($colors, text1);
        margin-bottom: 10px;
    }

    &__desc {
        display: block;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: map.get($colors, text2);
        margin-bottom: 33px;
    }

    &__link {
        font-weight: 700;
        display: none;
        text-align: end;
        padding-bottom: 20px;
        color: map.get($colors, white1);

        @include respond-to(tablet-l) {
            display: block;
            color: map.get($colors, primary);
        }
    }

    &__svg-arrow {
        display: inline-block;

        @include respond-to(laptop-l) {
            margin-left: 10px;

            svg {
                path {
                    stroke: map.get($colors, primary)
                }
            }
        }
    }
}