.reviews__modal 
    .reviews__modal-wrap
        .reviews__modal-close 
            div 
        .reviews__modal-name 
            
        .reviews__modal-inner 
           
.reviews__modal-overlay
