.reviews 
    .container-content 
        .reviews__header 
            span Будем рады вашим отзывам — опубликуем все без исключения
            button.button.button--green Оставить отзыв
        .reviews__reviews 
            .review 
                .review__content
                    .review__name 
                        h5 Альбина
                    .review__inner
                        p Добрый день! Хотелось бы оставить отзыв о враче Малицкой Валерии! Долго искали врача и клинику для кастрации нашего шпицули крипторха! Очень сложно довериться и найти того самого врача,но увидев Валерию произошла так сказать любовь с первого взгляда))! Доверившись первым впечатлениям мы ни чуть не пожалели! Все прошло хорошо! Добрая, отзывчивая и чуткая врач Добрый день! Хотелось бы оставить отзыв о враче Малицкой Валерии! Долго искали врача и клинику для кастрации нашего шпицули крипторха! Очень сложно довериться и найти того самого врача,но увидев Валерию произошла так сказать любовь с первого взгляда))! Доверившись первым впечатлениям мы ни чуть не пожалели! Все прошло хорошо! Добрая, отзывчивая и чуткая врач... Добрый день! Хотелось бы оставить отзыв о враче Малицкой Валерии! Долго искали врача и клинику для кастрации нашего шпицули крипторха! Очень сложно довериться и найти того самого врача,но увидев Валерию произошла так сказать любовь с первого взгляда))! Доверившись первым впечатлениям мы ни чуть не пожалели! Все прошло хорошо! Добрая, отзывчивая и чуткая врач... Добрый день! Хотелось бы оставить отзыв о враче Малицкой Валерии! Долго искали врача и клинику для кастрации нашего шпицули крипторха! Очень сложно довериться и найти того самого врача,но увидев Валерию произошла так сказать любовь с первого взгляда))! Доверившись первым впечатлениям мы ни чуть не пожалели! Все прошло хорошо! Добрая, отзывчивая и чуткая врач... Добрый день! Хотелось бы оставить отзыв о враче Малицкой Валерии! Долго искали врача и клинику для кастрации нашего шпицули крипторха! Очень сложно довериться и найти того самого врача,но увидев Валерию произошла так сказать любовь с первого взгляда))! Доверившись первым впечатлениям мы ни чуть не пожалели! Все прошло хорошо! Добрая, отзывчивая и чуткая врач...
                .review__meta 
                    .review__date 
                        span 7.04.2020
                    .review__expand-btn 
                        button Читать полностью
                        <svg class="icon">
                            <use href="#icon-arrow"></use>
                        </svg>
            .review 
                .review__content
                    .review__name 
                        h5 Потап
                    .review__inner
                        p Хочу выразить благодарность, доктору Ванюковой Олесе Игоревне. Которая является высококлассным специалистом, с ответственностью подходит... Хочу выразить благодарность, доктору Ванюковой Олесе Игоревне. Которая является высококлассным специалистом, с ответственностью подходит... Хочу выразить благодарность, доктору Ванюковой Олесе Игоревне. Которая является высококлассным специалистом, с ответственностью подходит... Хочу выразить благодарность, доктору Ванюковой Олесе Игоревне. Которая является высококлассным специалистом, с ответственностью подходит... Хочу выразить благодарность, доктору Ванюковой Олесе Игоревне. Которая является высококлассным специалистом, с ответственностью подходит... Хочу выразить благодарность, доктору Ванюковой Олесе Игоревне. Которая является высококлассным специалистом, с ответственностью подходит... Хочу выразить благодарность, доктору Ванюковой Олесе Игоревне. Которая является высококлассным специалистом, с ответственностью подходит... Хочу выразить благодарность, доктору Ванюковой Олесе Игоревне. Которая является высококлассным специалистом, с ответственностью подходит...
                .review__meta 
                    .review__date 
                        span 7.04.2020
                    .review__expand-btn 
                        button Читать полностью
                        <svg class="icon">
                            <use href="#icon-arrow"></use>
                        </svg>
            .review 
                .review__content
                    .review__name 
                        h5 Кыця
                    .review__inner
                        p Я очень благодарна персоналу и Докторам клиники ВетКэт Строгино. Огромное спасибо за профессионализм, человеческое отношение и отличное лечение... Я очень благодарна персоналу и Докторам клиники ВетКэт Строгино. Огромное спасибо за профессионализм, человеческое отношение и отличное лечение... Я очень благодарна персоналу и Докторам клиники ВетКэт Строгино. Огромное спасибо за профессионализм, человеческое отношение и отличное лечение... Я очень благодарна персоналу и Докторам клиники ВетКэт Строгино. Огромное спасибо за профессионализм, человеческое отношение и отличное лечение... Я очень благодарна персоналу и Докторам клиники ВетКэт Строгино. Огромное спасибо за профессионализм, человеческое отношение и отличное лечение... Я очень благодарна персоналу и Докторам клиники ВетКэт Строгино. Огромное спасибо за профессионализм, человеческое отношение и отличное лечение... Я очень благодарна персоналу и Докторам клиники ВетКэт Строгино. Огромное спасибо за профессионализм, человеческое отношение и отличное лечение... Я очень благодарна персоналу и Докторам клиники ВетКэт Строгино. Огромное спасибо за профессионализм, человеческое отношение и отличное лечение... Я очень благодарна персоналу и Докторам клиники ВетКэт Строгино. Огромное спасибо за профессионализм, человеческое отношение и отличное лечение... Я очень благодарна персоналу и Докторам клиники ВетКэт Строгино. Огромное спасибо за профессионализм, человеческое отношение и отличное лечение... Я очень благодарна персоналу и Докторам клиники ВетКэт Строгино. Огромное спасибо за профессионализм, человеческое отношение и отличное лечение...
                .review__meta 
                    .review__date 
                        span 7.04.2020
                    .review__expand-btn 
                        button Читать полностью
                        <svg class="icon">
                            <use href="#icon-arrow"></use>
                        </svg>
            .review 
                .review__content
                    .review__name 
                        h5 Просковья Григорьевна
                    .review__inner
                        p Хочу выразить огромную благодарность сотрудникам клиники за то, что подняли моего йорка на ноги. Собаку укусил клещ, она уже не еле ходила, ничего не ела. Диагноз - пироплазмоз. Назначили капельницы. Буквально на следующий день Кевину стало лучше. И с каждым днем все лучше и лучше! Сегодня получили анализы крови - все отлично! Спасибо огромное! Хочу выразить огромную благодарность сотрудникам клиники за то, что подняли моего йорка на ноги. Собаку укусил клещ, она уже не еле ходила, ничего не ела. Диагноз - пироплазмоз. Назначили капельницы. Буквально на следующий день Кевину стало лучше. И с каждым днем все лучше и лучше! Сегодня получили анализы крови - все отлично! Спасибо огромное! Хочу выразить огромную благодарность сотрудникам клиники за то, что подняли моего йорка на ноги. Собаку укусил клещ, она уже не еле ходила, ничего не ела. Диагноз - пироплазмоз. Назначили капельницы. Буквально на следующий день Кевину стало лучше. И с каждым днем все лучше и лучше! Сегодня получили анализы крови - все отлично! Спасибо огромное! Хочу выразить огромную благодарность сотрудникам клиники за то, что подняли моего йорка на ноги. Собаку укусил клещ, она уже не еле ходила, ничего не ела. Диагноз - пироплазмоз. Назначили капельницы. Буквально на следующий день Кевину стало лучше. И с каждым днем все лучше и лучше! Сегодня получили анализы крови - все отлично! Спасибо огромное! Хочу выразить огромную благодарность сотрудникам клиники за то, что подняли моего йорка на ноги. Собаку укусил клещ, она уже не еле ходила, ничего не ела. Диагноз - пироплазмоз. Назначили капельницы. Буквально на следующий день Кевину стало лучше. И с каждым днем все лучше и лучше! Сегодня получили анализы крови - все отлично! Спасибо огромное! Хочу выразить огромную благодарность сотрудникам клиники за то, что подняли моего йорка на ноги. Собаку укусил клещ, она уже не еле ходила, ничего не ела. Диагноз - пироплазмоз. Назначили капельницы. Буквально на следующий день Кевину стало лучше. И с каждым днем все лучше и лучше! Сегодня получили анализы крови - все отлично! Спасибо огромное!
                .review__meta 
                    .review__date 
                        span 7.04.2020
                    .review__expand-btn 
                        button Читать полностью
                        <svg class="icon">
                            <use href="#icon-arrow"></use>
                        </svg>
