include ../../partials/mixins/ui/cards/_review-card.pug
.reviews 
    .container-content 
        .reviews__header 
            span Будем рады вашим отзывам — опубликуем все без исключения
            button.button.button--green.review-button Оставить отзыв
        .reviews__reviews 
            if reviewsData && reviewsData.length
                each reviewItem in reviewsData
                    +review(reviewItem)
            else
                p Нет отзывов
