.blogs    
    .container-content
        .blogs__header
            .blogs__title
                h2 Блог с усами, лапами, хвостом и свежие новости клиники
            .blogs__buttons 
                button.button.button--green
                    a(href="#") Смотреть все статьи
        .blogs__wrapper 
            .blogs-large
                .blogs-large__img-wrap 
                    img(src="/img/main/blog.png", alt="blog-pic")
                .blogs-large__title 
                    a(href="#") 
                        h3 Обзор заболеваний некастрированных кобелей породы янокуисосто
                .blogs-large__date
                    span 15.05.2020
            .blogs-mini
                .blogs-mini__item
                    .blogs-mini__title 
                        a(href="#") 
                            h6 Большой животик. Что это может быть?
                    .blogs-mini__date 
                        span 13.05.2020
                .blogs-mini__item
                    .blogs-mini__title 
                        a(href="#") 
                            h6 Черепаховый окрас у кошек: чудо природы или генетическая мутация?
                    .blogs-mini__date 
                        span 6.05.2020
                .blogs-mini__item
                    .blogs-mini__title 
                        a(href="#") 
                            h6 Хроническая диарея или когда не прекращается понос
                    .blogs-mini__date 
                        span 28.04.2020
                .blogs-mini__item
                    .blogs-mini__title 
                        a(href="#") 
                            h6 Эзофагостома у собак и кошек — ответы на распространенные вопросы владельцев
                    .blogs-mini__date 
                        span 20.04.2020

