extends ../../partials/components/main_layout/main_layout.pug

block head
    include ../../partials/mixins/_head.pug
    +head('main')

block content
    include ./main_hero.pug
    include ./main_hero.pug
    include ./main_hero.pug
    include ./main_hero.pug

    


   

