extends ../../partials/components/main-layout/main-layout.pug

block head
    include ../../partials/mixins/_head.pug
    +head('main')

block content
    include ./main-hero.pug
    include ./main-services.pug
    include ./main-about.pug
    include ./team.pug
    include ./stories.pug
    include ./blogs.pug
    include ./main-social.pug
    include ./main-map.pug



    
    

    


   

