.container-content 
    .main-map 
        .main-map__title 
            h2 Две современные клиники в Москве
        .main-map__wrap 
            .main-map__map 
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d21847.57474866286!2d30.745802962468854!3d46.43002791368822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1769762431532!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            .main-map__info 
                .phone 
                    a(href="tel:+74991102303")
                        h3 +7 (499) 110-23-03 
                    span Единый круглосуточный номер
                .adress-cards 
                    .adress-card 
                        .adress-card__title 
                            h5 Кулакова, 10 корпус 1
                        .adress-card__info 
                            span Район Строгино м. Строгино, Мякинино
                    .adress-card 
                        .adress-card__title 
                            h5 Загородное ш., 4 корпус 2
                        .adress-card__info 
                            span Донской район м. Крымская, Верхние Котлы
                a(href="#").button.button--green Подробнее о клиниках 
