.main-hero  
    .main-hero__bg-wrap
        img.main-hero__bg(src="./img/main/hero.png", alt="main-bg")
    .container-content
        .main-hero__content
            h1.main-hero__title Ветеринарный центр, на который вы можете рассчитывать 24/7
            .main-hero__rules 
                ul 
                    li.main-hero__rules-item Придерживаемся принципов доказательной медицины
                    li.main-hero__rules-item Врач никогда не пытается применить ко всем единую методику
                    li.main-hero__rules-item Каждый случай уникален
            .main-hero__svg-arrow 
                <svg width="16" height="95" viewBox="0 0 16 95" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.70605 0V93M7.70605 93C9.70605 89.9838 14.7061 85 14.7061 85M7.70605 93C5.70605 89.9838 0.706055 85 0.706055 85" stroke="#1DC4B0" stroke-width="2" />
                </svg>
