.main-social 
    .container-content 
        .main-social__wrap
            .main-social__title 
                h2 Мы в Инстаграм
            .main-social__inst-link 
                a(href="#")
                    img(src="/img/main/inst-link.png", alt="inst-link") 
            .main-social__bg 
                img(src="/img/main/social-bg.png", alt="bg-cat")
