.main_hero  
    .main_hero__bg-wrap
        img.main_hero__bg(src="./img/main/hero.png", alt="main-bg")
    .container-content
        .main_hero__content
            h1.main_hero__title Ветеринарный центр, на который вы можете рассчитывать 24/7
            .main_hero__rules 
                ul 
                    li.main_hero__rules-item Придерживаемся принципов доказательной медицины
                    li.main_hero__rules-item Врач никогда не пытается применить ко всем единую методику
                    li.main_hero__rules-item Каждый случай уникален
