.main-about 
    .container-content
        .main-about__title
            h2 ВетКэт — это
        .main-about__content
            .main-about-slider-wrapper
                .main-about-pagination
                    .main-about-pagination__line
                        .main-about-pagination__item 1
                    .main-about-pagination__line.active
                        .main-about-pagination__item.active 2
                    .main-about-pagination__line
                        .main-about-pagination__item 3
                    .main-about-pagination__line
                        .main-about-pagination__item 4
                .main-about-slider__viewport
                    .swiper.main-about-slider
                        .swiper-wrapper
                            .swiper-slide
                                div
                                    h3.main-about-slider__title Слайд 1
                                    span.main-about-slider__desc Lorem ipsum dolor sit.
                                    a.button.button--green Подробнее о компании
                            .swiper-slide
                                div
                                    h3.main-about-slider__title Круглосуточная работа
                                    span.main-about-slider__desc Здесь говорим о режиме работы клиник и о консультации в любое время суток.И еще какой-то информативный текст, чтобы получилось в 3-5 строки.
                                    a.button.button--green Подробнее о компании
                            .swiper-slide
                                div
                                    h3.main-about-slider__title Слайд 3
                                    span.main-about-slider__desc Что-то о клинике.
                                    a.button.button--green Подробнее о компании
                            .swiper-slide
                                div
                                    h3.main-about-slider__title Слайд 4
                                    span.main-about-slider__desc Здесь может быть ваша реклама. Продам гараж.
                                    a.button.button--green Подробнее о компании
            .main-about__image-block 
                .main-about__image-wrapper 
                    img(src="/img/main/slider-2.png", alt="about")




